/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Nunito";
    --primary-color: #6A5ACD; /* Purple */
    --accent-color: #FF6F61; /* Coral */
    --background-color: #F2F2F2; /* Mist Grey */
    --button-color: #2ECC71; /* Emerald Green */
}

/* General styles */

/* Header */

/* Navbar styles */

/* Nav toggle */

/* Main content */

/* Hero section */

/* Form */

/* Footer */

/* Media query: large or landscape phones (576px and up) */

/* Media query: tablets and larger (768px and up) */

/* Large devices (laptops and desktops, 992px and up) */