/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Quicksand";
    --secondary-font: "Nunito";
    --primary-color: #6A5ACD; /* Purple */
    --secondary-color: #2a2a2a; /* Black */
    --accent-color: #FF6F61; /* Coral */
    --background-color: #F2F2F2; /* Mist Grey */
}

/* Global styles */

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

main {
    margin: auto;
}

.section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.my-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0;
}

.my-btn:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: #fafafa;
}

.main-img {
    border-radius: 0;
}


/* Header */

/* Navbar styles with dropdown toggle */

.navbar {
    background-color: var(--primary-color);
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    align-items: start;
    max-height: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.collapse {
    padding-left: 25px;
}


/* Hero section */

#hero {
    background: url(../images/hero-2-large.webp) no-repeat center center/cover;
    height: 400px;
    width: 100%;
    position: relative;
}

#hero-text {
    position: absolute;
    padding: 10px;
    left: 30px;
    bottom: 30px;
    width: 55%;
    background-color: rgba(195, 190, 190, 0.9);
}

#hero-text h1 {
    font-size: 1.5rem;
}

/* Main content */

/* About section */

#about {
    max-width: 100%;
    margin: auto;
    padding: 50px;
}

#about > header{
    text-align: center;
    padding-bottom: 10px;
}

/* Signs */

#signs {
    background-color: var(--background-color);
    max-width: 95%;
}

#signs .card-body {
    min-height: 150px;
    max-height: fit-content;
}

#signs .sub-heading {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}




/* Take Action */

#action {
    margin: auto;
    text-align: center;
    max-width: 95%;
}

/* Footer */

#contact {
    background-color: var(--background-color);
    text-align: center;
    max-width: 95%;
}

/* Media query: smaller devices (up to 300px) */

@media screen and (min-width: 300px) {
    #hero {
        background: url(../images/hero-2-small.webp) no-repeat center center/cover;
    }
    #hero-text h1 {
        font-size-adjust: 0.5;
    }
}

/* Media query: large or landscape phones (576px and up) */

@media screen and (min-width: 576px) {
    #hero {
        background: url(../images/hero-2-small.webp) no-repeat center center/cover;
    }
    
    #hero-text h1 {
    font-size: 2rem; /* ~32px */ 
    }

    #signs .card-body {
        min-height: 100px;
    }
        #about .main-img {
        flex-direction: column;
    }
}
    
/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    #hero {
        background: url(../images/hero-2-medium.webp) no-repeat center center/cover;
    }
    #hero-text h1 {
    font-size: 2.5rem; /* ~40px */
    }
    #signs .card-body {
        min-height: 200px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
    #hero {
        background: url(../images/hero-2-large.webp) no-repeat center center/cover;
    }
    
    #hero-text h1 {
    font-size: 3rem; /* ~48px */
    }

    #signs .card-body {
        max-height: 100px;
    }
    
    #about p {
        font-size: 1.1rem;
    }

    #about .main-img {
        max-width: 400px;
    }
}

/* XL: ≥1200px */

@media (min-width: 1200px) {
  #hero-text h1 {
    font-size: 3.5rem; /* ~56px */
  }
}